.container{
    background-color: green;
    border: 4px;
    border-color: red;
    height: 100vh;
    width: 100vw;
}

.message-box .container{
    width: 900px;
    max-width: calc(100% - 20px);
    margin: 0 auto 10px;
    height: 1em;
    font-size: 18px;
    color: blue (22, 77, 8);
  }
  
  .table {
    width: 900px;
    max-width: calc(100% - 20px);
    border: 8px solid rgb(10, 43, 2);
    border-radius: 20px;
    background: rgb(22, 77, 8);
    margin: 0 auto;
    color: white;
    padding: 30px;
  }

  .player {
    margin: 20px;
  }

  .player-name {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }